executor {
    $slurm {
        queueSize = 30
    }
    $local {
        cpus = 1
        memory = '4 GB'
    }
}

process {
    cache = "lenient"
    withName: fastqc {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 2
        memory = {4.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withName: multiqc {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {4.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withName: bam2fq {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        //memory = {bam.size() < 10.GB ? 8.GB * task.attempt : 16.GB * task.attempt}
        memory = {bam.size() < 10.GB ? 8.GB * task.attempt : (bam.size() < 30.GB ? 16.GB * task.attempt : 32.GB * task.attempt)}
        time = '7d'
        maxRetries = 3
    }
    withName: fq2bam {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 2
        memory = {8.GB * task.attempt}
        time = '7d'
        maxRetries = 3
    }
    withName: flagstats {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 2
        //memory = {8.GB * task.attempt}
        //memory = {bam.size() < 10.GB ? 8.GB * task.attempt : (bam.size() < 30.GB ? 16.GB * task.attempt : 32.GB * task.attempt)}
        memory = {2.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withLabel: kraken2 {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '7d'
        maxRetries = 3
    }
    withLabel: bbduk {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {8.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }
    withName: qc_bbmerge {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {16.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }
    withName: concat_singles {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = '2.GB'
        time = '8h'
        maxRetries = 3
    }
    withLabel: align {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
		// 16.GB for IGC, 128.GB for human-gut GMGC
        memory = {128.GB * task.attempt}
        time = '14d'
        maxRetries = 3
    }
    withLabel: samtools {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
		// 16.GB for IGC, 64.GB for human-gut GMGC
        memory = {64.GB * task.attempt}
        time = '14d'
        maxRetries = 3
    }
    withName: run_gffquant {
        container = "oras://ghcr.io/cschu/gff_quantifier@sha256:ed68238f8779be78ffad2a89287b79d7137b6e970946380310fbbbf8e49b0f0c"
        executor = "slurm"
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        cpus = 1
        memory = {32.GB * task.attempt}
        time = {2.d * task.attempt}
        maxRetries = 4
    }
    withName: collate_feature_counts {
        container = "oras://ghcr.io/cschu/gff_quantifier@sha256:ed68238f8779be78ffad2a89287b79d7137b6e970946380310fbbbf8e49b0f0c"
        executor = "slurm"
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        cpus = 1
        memory = {16.GB * task.attempt}
        time = {2.d * task.attempt}
        maxRetries = 4
    }
	withName: merge_single_fastqs {
        container = "oras://ghcr.io/cschu/nevermore:latest"
	    executor = "slurm"
	    errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
	    cpus = 1
	    memory = {8.GB * task.attempt}
	    time = {2.d * task.attempt}
	    maxRetries = 4
	}
    withName: collate_stats {
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        maxRetries = 4
    }
    withName: fq2fa {
        container = "oras://ghcr.io/cschu/nevermore:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {8.GB * task.attempt}
        time = {2.h * task.attempt}
        maxRetries = 3
    }
    withName: motus {
		executor = "slurm"
		container = "oras://ghcr.io/cschu/vortex_knight@sha256:54a84560c0f50747c8f52b799908aba109b69386ed4a35148385ccd518dcd28b"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 6
		memory = {16.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
}

singularity {
    enabled = true
    autoMounts = true
}
