executor {
    $slurm {
        queueSize = 80
    }
    $local {
        cpus = 1
        memory = '4 GB'
    }
}

process {
    cache = "lenient"
	queue = "all"
	container = "oras://ghcr.io/cschu/nevermore@sha256:b83832ee9a88a8446ef1c6df9b091bb9725a04971b46e454b1d02d12b8d3f064"
	withName: prepare_fastqs {
		executor = "local"
		scratch = null
		container = null
	}
    withName: fastqc {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 2
        memory = {4.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withName: multiqc {
        executor = "slurm"
        publishDir = [ path: params.output_dir ]
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = {4.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withName: flagstats {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 2
        //memory = {8.GB * task.attempt}
        //memory = {bam.size() < 10.GB ? 8.GB * task.attempt : (bam.size() < 30.GB ? 16.GB * task.attempt : 32.GB * task.attempt)}
        memory = {2.GB * task.attempt}
        time = {4.h * task.attempt}
        maxRetries = 3
    }
    withLabel: kraken2 {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {64.GB * task.attempt}
        time = '5d'
        maxRetries = 3
    }
    withLabel: bbduk {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {8.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }
    withName: concat_singles {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 1
        memory = '2.GB'
        time = '8h'
        maxRetries = 3
    }
    withLabel: align {
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
		// 16.GB for IGC, 128.GB for human-gut GMGC
        memory = {96.GB * task.attempt}
        time = '5d'
        maxRetries = 3
    }
    withLabel: samtools {
        executor = "slurm"
        publishDir = [ path: params.output_dir ]
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
		// 16.GB for IGC, 64.GB for human-gut GMGC
        memory = {64.GB * task.attempt}
        time = '5d'
        maxRetries = 3
    }
    //withName: run_gffquant {
	withLabel: gffquant {
		// 2.15.1
		container = "oras://ghcr.io/cschu/gff_quantifier@sha256:6d55035a89c060d5fa71ce87cc88322d80d34993b1c240379f0e3a57308a3c27"
		scratch = null	
        executor = "slurm"
        publishDir = [ path: params.output_dir ]
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        cpus = 1
        memory = {32.GB * task.attempt}
        time = {2.d * task.attempt}
        maxRetries = 4
    }
    withName: collate_feature_counts {
		// 2.15.1
		container = "oras://ghcr.io/cschu/gff_quantifier@sha256:6d55035a89c060d5fa71ce87cc88322d80d34993b1c240379f0e3a57308a3c27"		
		scratch = null
        executor = "slurm"
        publishDir = [ path: params.output_dir ]
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        cpus = 1
        memory = {16.GB * task.attempt}
        time = {2.d * task.attempt}
        maxRetries = 4
    }
	withName: merge_single_fastqs {
        executor = "slurm"
	    errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
	    cpus = 1
	    memory = {32.GB * task.attempt}
	    time = {2.d * task.attempt}
	    maxRetries = 4
	}
    withName: collate_stats {
        errorStrategy = {task.attempt <= 4 ? "retry" : "ignore"}
        maxRetries = 4
    }
}

singularity {
    enabled = true
    autoMounts = true
}
